.main-container {
    background-color:#f1f5f1;
    padding-top: 135px;
    padding-left: 45px;
    height: 500px;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    font-size: 35px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-family: 'Raleway', sans-serif;
   
    
}


.maintitle {
    padding-left: 35%;
    font-size: 30px;
  
}
.bygia{
    text-align: center;
}




.imageflowers {

width: 40%;
position: absolute;
top: 35%;
padding-left: 50%;
opacity: 0.8;



}


.quotecreator{
    padding-left: 28%;
    padding-bottom: 15%;
    font-size: 15px;
}
.section2paragraph {
    padding-left: 5%;
    padding-top: 30px;
    font-size: 35px;
  
}




 .header-container {
opacity: 0.8;
padding-top: 2%;
padding-bottom: 1%;
    background-color: #ba7b67;
   align-items: center;
   justify-content: space-between;
   -moz-window-shadow: 1px 2px 3px rgba(0,0,0,.5);
   font-family: 'Open Sans Condensed', sans-serif;
    font-family: 'Raleway', sans-serif;

 }
 

    
   

 


.title {
    text-align: center;
}
  
  
  .menu {
    color: black;
    font-family: sans-serif;
    align-items: center;
    justify-content:space-between;
    padding: 2px 10px;
    display: flex;
    font-family:'Open Sans Condensed', sans-serif;
    font-size: 25px;
    


    
  }
  .nav-link h4:hover {
      opacity: 0.2;
      color:#b3496f ;

  }
  
  .nav-link {
      text-decoration: none;
      color: black;
  }



  .footer{
     background-color: #303036;
      height: 18%;
      padding-top: 0.15px;
      padding-left: 10%;
      align-items: center;
      display: flex;
      height: 210px;

  }

  .aboutme{
      padding-left: 40%;
      padding-top: 4%;
      font-size: 45px;
      font-family: 'Open Sans Condensed', sans-serif;
    font-family: 'Raleway', sans-serif;
    background-color: #ba7b67;
    opacity: 0.8;
  }

  .aboutmeparagraph{

      font-size: 35px;
      font-family: 'Open Sans Condensed', sans-serif;
      font-family: 'Raleway', sans-serif;
      
      
  }

  .valencooks {
      padding-left: 5%;
      padding-top:5% ;

  }
  
  .lorenzodrums {
  
    position: absolute;
    padding-top: 34%;
    top: 20px;
    right: 40px;
    padding-right: 4%;
  }

  .familyphoto {
      padding-left: 15% ;
      padding-top: 8%;
  }

  .portfolioheader{
    
    padding-left: 40%;
    padding-top: 4%;
    padding-bottom: 4%;
    font-size: 48px;
    font-family: 'Open Sans Condensed', sans-serif;
   font-family: 'Raleway', sans-serif;
   background-color: #ba7b67;
   opacity: 0.8;
  }
     
  .portfoliocontainer {

    
  

  }