.main-container {
    background-color:#f1f5f1;
    padding-top: 135px;
    padding-left: 45px;
    height: 490px;
    background-attachment: fixed;
    background-size: cover;  
    background-position: center;
    font-size: 35px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-family: 'Raleway', sans-serif;
   
    
}

.logo {
    height: 190px;
    position: absolute;
    z-index: -1;
    top: 1px;
}

.maintitle {
    font-size: 30px;
  
}
.bygia{
    text-align: center;
}

.center {
    margin-left: auto;
    margin-right: auto;
  }


.imageflowers {
position: absolute;
width: 52%;
bottom: 6px;
padding-right: 25%;
top: 38%;





}


.quotecreator{
    padding-left: 28%;
    padding-bottom: 15%;
    font-size: 15px;
}
.section2paragraph {
    padding-left: 65%;
    padding-top: 30px;
    font-size: 25px;
  
}




 .header-container {
opacity: 0.8;
padding-top: 2%;
padding-bottom: 1%;
    background-color: #ba7b67;
   align-items: center;
   justify-content: space-between;
   -moz-window-shadow: 1px 2px 3px rgba(0,0,0,.5);
   font-family: 'Open Sans Condensed', sans-serif;
    font-family: 'Raleway', sans-serif;

 }
 

    
   

 


.title {
    text-align: center;
}
  
  
  .menu {
    color: black;
    font-family: sans-serif;
    align-items: center;
    justify-content:space-between;
    padding: 2px 10px;
    display: flex;
    font-family:'Open Sans Condensed', sans-serif;
    font-size: 25px;
    


    
  }
  .nav-link h4:hover {
      opacity: 0.2;
      color:#b3496f ;

  }
  
  .nav-link {
      text-decoration: none;
      color: black;
  }



  .footer{
     background-color: #303036;
      height: 18%;
      padding-top: 0.15px;
      align-items: center;
      justify-content: space-around;
      display: flex;
      height: 200px;

  }

  .aboutme{
      padding-left: 40%;
      padding-top: 4%;
      font-size: 45px;
      font-family: 'Open Sans Condensed', sans-serif;
    font-family: 'Raleway', sans-serif;
    background-color: #ba7b67;
    opacity: 0.8;
  }

  .aboutmeparagraph{

      font-size: 35px;
      font-family: 'Open Sans Condensed', sans-serif;
      font-family: 'Raleway', sans-serif;
      
      
  }

  .valencooks {
      padding-left: 5%;
      padding-top:5% ;

  }
  
  .lorenzodrums {
 display: flex; 
 padding-left: 60%;
 margin-top: -42%;
 
 


   
  }

  .familyphoto {
      padding-left: 15% ;
      padding-top: 8%;
  }

  .portfolioheader{
    
    padding-left: 40%;
    padding-top: 4%;
    padding-bottom: 4%;
    font-size: 48px;
    font-family: 'Open Sans Condensed', sans-serif;
   font-family: 'Raleway', sans-serif;
   background-color: #ba7b67;
   opacity: 0.8;
  }
     
  .portfoliocontainer {
      background-color: #303036;

    
  

  }
  .circle {
    
    height: 100px;
    width: 100px;
    border-radius: 50%;
  }

  .comingsoon{
    

      font-size: 100px;
      font-family: 'Open Sans Condensed', sans-serif;
      font-family: 'Raleway', sans-serif;
      
  }
  .contactlogo{
     position: absolute;
    opacity: 0.8;
    top:30%;
   
  }
  .contactheader {
      background-color: #ba7b67;
      font-size: 25px;
      font-family: 'Open Sans Condensed', sans-serif;
      font-family: 'Raleway', sans-serif; 
      opacity: 0.8;
  }